[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b0xx_450013001250415833323520-if00

[mcu U2C]
canbus_uuid: d2621a588567

[mcu EBB]
canbus_uuid: 8f08027e614a

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 50
max_z_accel: 100
square_corner_velocity: 5

[pause_resume]

[include macros/*.cfg]

[display_status]

[exclude_object]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode:
  CANCEL_PRINT

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -7
homing_retract_dist: 0
position_min: -7
position_max: 221
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.80
#stealthchop_threshold: 999999
diag_pin: ^PC0
driver_SGTHRS: 100 # 255 is most sensitive value, 0 is least sensitive

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 221
homing_retract_dist: 0
position_min: 0
position_max: 221
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.80
#stealthchop_threshold: 999999
diag_pin: ^PC1
driver_SGTHRS: 100 # 255 is most sensitive value, 0 is least sensitive

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -15

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.8
stealthchop_threshold: 999999

[bltouch]
sensor_pin: ^EBB:PB9 
control_pin: EBB:PB8 
x_offset:36
y_offset:12
#z_offset: 0
speed:10
samples:1
samples_result:average
set_output_mode: 5V
probe_with_touch_mode: true
stow_on_each_sample: false

[safe_z_home]
home_xy_position: 117.5, 117.5
speed: 50
z_hop: 5

[bed_mesh]
speed: 500
mesh_min: 30,30
mesh_max: 200,200
probe_count: 3
mesh_pps: 8,8
algorithm: bicubic
bicubic_tension: 0.5
split_delta_z: .025

[extruder]
step_pin: EBB:PD0
dir_pin: !EBB:PD1
enable_pin: !EBB:PD2
microsteps: 16
max_extrude_cross_section: 50
max_extrude_only_distance: 700.00
rotation_distance: 22.25920182
gear_ratio: 50:10
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: EBB:PB13
#max_power: 0.25
sensor_type: Generic 3950
sensor_pin: EBB:PA3
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
max_extrude_cross_section: 2
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
min_extrude_temp: 10
min_temp: 0
max_temp: 290

[verify_heater extruder]
max_error: 200
check_gain_time: 60

[tmc2209 extruder]
uart_pin: EBB:PA15
interpolate: true
run_current: 0.75
sense_resistor: 0.110
stealthchop_threshold: 0

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[bed_screws]
screw1: 36, 29
screw1_name:
screw2: 203, 29
screw2_name:
screw3: 203, 200
screw3_name:
screw4: 36, 200
screw4_name:
horizontal_move_z: 5
speed: 50

[heater_fan hotend_fan]
pin: EBB:PA1
max_power: 1.0
kick_start_time: 3
off_below: 0.2
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[controller_fan electronics_bay]
pin: PB15
kick_start_time: 0.5
stepper: stepper_x, stepper_y, stepper_z

[fan]
pin: EBB:PA0
max_power: 1.0
kick_start_time: 3
off_below: 0.10

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.502
#*# pid_ki = 0.902
#*# pid_kd = 128.206
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.559
#*# pid_ki = 1.325
#*# pid_kd = 939.316
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.180000, 0.030000, 0.050000
#*# 	0.747500, 0.035000, 0.020000
#*# 	0.315000, -0.082500, -0.077500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 8
#*# mesh_y_pps = 8
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 30.0
#*# max_x = 200.0
#*# min_y = 30.0
#*# max_y = 200.0
#*#
#*# [bltouch]
#*# z_offset = 2.830
